# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.pyc

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Model/cache files
*.tmp

# OS files
.DS_Store
Thumbs.db